.ant-layout.main-page{
    max-width: 1440px;
    margin: auto;
    min-height: 100vh;
    background: no-repeat center/cover url('@public/images/main-page-light.png');

    &__layout {
        position: relative;
        background: transparent;
    }
}
