.main-page {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
    background: no-repeat center/cover url('./images/main-page-light.png');

    &__layout.ant-layout {
        background-image: url("./images/main-page-light.png");
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: right;
        width: 100%;
        min-height: 100vh;
        position: relative;
    }
}
