.sider-box {
    position: relative;
}

.sider.ant-layout-sider {
    background-color: var(--character-light-sider-background);
    min-height: 100vh;
    padding-top: 30px;

    @media (max-width: 576px) {
        padding-top: 0;
    }
}

.switcher {
    width: 20px;
    height: 66px;
    position: absolute;
    right: -18px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--character-light-sider-background);
    clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);

    @media (max-width: 576px) {
        top: 72px;
        width: 32px;
        height: 48px;
        right: -32px;
    }

    svg {
        fill: var(--neutral-gray-7);
    }
}

.logo {
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    @media (max-width: 576px) {
        min-height: 50px;
    }

    svg {
        cursor: pointer;
    }
}

.ant-menu-item {
    @media (max-width: 576px) {
        padding: 8px !important;
    }

    svg {
        path {
            transition: fill 0.3s;
        }
    }

    &.calendar {
        svg {
            path {
                fill: var(--primary-light-9);
            }
        }
    }

    .ant-menu.ant-menu-light &:hover {
        color: var(--primary-light-5);

        svg {
            path {
                fill: var(--primary-light-5);
            }
        }
    }

    .ant-menu:not(.ant-menu-horizontal) &.ant-menu-item-selected {
        background-color: var(--primary-light-1);

        svg {
            path {
                fill: var(--primary-light-5);
            }
        }
    }

    .ant-menu.ant-menu-inline &::after {
        border-right-color: var(--primary-light-5);
    }

    .ant-menu &-selected {
        color: var(--primary-light-5);
    }

    &.exit {
        position: absolute !important;
        bottom: 0;
        width: 100%;
        box-shadow: inset 0 1px 0 0 var(--character-light-dividers);
        gap: 15px;
        display: flex;
        align-items: center;

        @media (max-width: 576px) {
            text-align: center;
        }
    }
}

.hidden-item {
    opacity: 0;
}
